[Unit]
Description=Routy McRouteface

[Service]
Group=www-data
ExecStart=/usr/local/bin/routy
Type=simple
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
